{% assign nav_mode = mode | default: 'desktop' %}
{% assign market_root = routes.root_url %}
{% if market_root == '/' %}
{% assign _lang = request.locale.iso_code | split: '-' | first | downcase %}
{% assign _country = localization.country.iso_code | downcase %}
{% if _lang != blank and _country != blank and _country != 'ca' %}
{% assign market_root = '/' | append: _lang | append: '-' | append: _country %}
{% endif %}
{% endif %}
{% if nav_mode == 'drawer' %}
<ul class="menu-drawer__menu list-menu">
  <li><a href="{{ market_root }}#hero" class="menu-drawer__menu-item list-menu__item link link--text focus-inset">Home</a></li>
  <li><a href="{{ market_root }}#latest-books" class="menu-drawer__menu-item list-menu__item link link--text focus-inset">Books</a></li>
  <li><a href="{{ market_root }}#reasons" class="menu-drawer__menu-item list-menu__item link link--text focus-inset">Why Groovy?</a></li>
  <li><a href="{{ market_root }}#faq" class="menu-drawer__menu-item list-menu__item link link--text focus-inset">FAQ</a></li>
  {% capture blog_path %}/blogs/news{% endcapture %}
  <li><a href="{% if market_root == '/' %}{{ blog_path }}{% else %}{{ market_root }}{{ blog_path }}{% endif %}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset">Blog</a></li>
  <li><a href="{{ market_root }}#contact" class="menu-drawer__menu-item list-menu__item link link--text focus-inset">Contact</a></li>
  {% capture shop_path %}/collections/all{% endcapture %}
  <li><a href="{% if market_root == '/' %}{{ shop_path }}{% else %}{{ market_root }}{{ shop_path }}{% endif %}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset">Shop</a></li>
  <li>
    {% capture cart_path %}/cart{% endcapture %}
    <a href="{% if market_root == '/' %}{{ cart_path }}{% else %}{{ market_root }}{{ cart_path }}{% endif %}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset" id="mobile-menu-cart-link">
      Cart{% if cart.item_count > 0 %} ({{ cart.item_count }}){% endif %}
    </a>
  </li>
</ul>
{% else %}
<ul class="header__nav-list">
  <li><a href="{{ market_root }}#hero" class="header__nav-item">Home</a></li>
  <li><a href="{{ market_root }}#latest-books" class="header__nav-item">Books</a></li>
  <li><a href="{{ market_root }}#reasons" class="header__nav-item">Why Groovy?</a></li>
  <li><a href="{{ market_root }}#faq" class="header__nav-item">FAQ</a></li>
  {% capture blog_path %}/blogs/news{% endcapture %}
  <li><a href="{% if market_root == '/' %}{{ blog_path }}{% else %}{{ market_root }}{{ blog_path }}{% endif %}" class="header__nav-item">Blog</a></li>
  <li><a href="{{ market_root }}#contact" class="header__nav-item">Contact</a></li>
  {% capture shop_path %}/collections/all{% endcapture %}
  <li><a href="{% if market_root == '/' %}{{ shop_path }}{% else %}{{ market_root }}{{ shop_path }}{% endif %}" class="header__nav-item">Shop</a></li>
  <li>
    {% capture cart_path %}/cart{% endcapture %}
    <a href="{% if market_root == '/' %}{{ cart_path }}{% else %}{{ market_root }}{{ cart_path }}{% endif %}" class="header__nav-item" id="main-menu-cart-link">
      Cart{% if cart.item_count > 0 %} ({{ cart.item_count }}){% endif %}
    </a>
  </li>
</ul>
{% endif %} 